<template>
  <div class="px-4 py-2">
    <v-btn large block color="orange" class="white--text title" to="saved">
      Saved Names
      <v-icon class="px-2">mdi-arrow-right</v-icon>
    </v-btn>
    <transition name="fade" mode="out-in">
      <NameCard
        v-if="current"
        :name="current.name"
        :gender="current.gender"
        :key="current.name"
      />
    </transition>
    <div class="d-flex justify-space-between py-2 mt-4">
      <v-btn
        x-large
        width="48%"
        color="green"
        class="white--text title"
        @click="saveName"
      >
        <v-icon large class="px-2">mdi-check</v-icon>Yes</v-btn
      >
      <v-btn
        x-large
        width="48%"
        color="red"
        class="white--text title"
        @click="getNext"
      >
        <v-icon large class="px-2">mdi-close</v-icon>No
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import NameCard from "@/components/NameCard.vue";
import { NAMES } from "@/api";
import { sample } from "lodash";
import { BabyName, Gender } from "@/types";
import { NAMES_KEY, GENDER_KEY } from "@/constants";
import { mapState } from "vuex";

interface Data {
  saved: BabyName[];
  current: BabyName | null;
}

export default Vue.extend({
  components: {
    NameCard
  },
  data: (): Data => ({
    saved: [],
    current: null
  }),
  computed: {
    filteredNames() {
      const gender = this.$store.state.filter;
      return gender ? NAMES.filter(name => name.gender == gender) : NAMES;
    }
  },
  methods: {
    saveName() {
      if (!this.current) {
        return;
      }
      if (this.saved.includes(this.current)) {
        return;
      }
      this.saved.push(this.current);
      localStorage.setItem(NAMES_KEY, JSON.stringify(this.saved));
      this.getNext();
    },
    getNext() {
      this.current = this.getRandom();
    },
    getRandom() {
      return sample(this.filteredNames) || null;
    },
    readNames() {
      return JSON.parse(localStorage.getItem(NAMES_KEY) || "[]") || [];
    }
  },
  created() {
    this.saved = this.readNames();
  },
  mounted() {
    this.getNext();
  }
});
</script>

<style lang="postcss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
