<template>
  <div class="px-4 py-2">
    <v-btn
      large
      block
      color="orange"
      class="white--text title"
      @click="$router.go(-1)"
    >
      <v-icon class="px-2">mdi-arrow-left</v-icon>
      Back
    </v-btn>
    <v-tabs grow centered show-arrows>
      <v-tab @click="filterOption = null">All</v-tab>
      <v-tab @click="filterOption = Gender.Neutral">Neutral</v-tab>
      <v-tab @click="filterOption = Gender.Boy">Boy</v-tab>
      <v-tab @click="filterOption = Gender.Girl">Girl</v-tab>
    </v-tabs>
    <v-list>
      <template v-for="(name, i) in filteredNames">
        <v-list-item
          :key="name.name"
          class="lighten-1"
          :class="getBgClass(name.gender)"
        >
          <v-list-item-content>
            <v-list-item-title v-text="name.name" class="white--text title" />
          </v-list-item-content>
        </v-list-item>
        <v-divider :key="i" />
      </template>
    </v-list>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { BabyName, Gender } from "@/types";
import { NAMES_KEY } from "@/constants";

interface Data {
  Gender: typeof Gender;
  saved: BabyName[];
  filterOption: Gender | null;
}
export default Vue.extend({
  data: (): Data => ({
    Gender: Gender,
    saved: [],
    filterOption: null
  }),
  mounted() {
    this.saved = JSON.parse(localStorage.getItem(NAMES_KEY) || "[]");
  },
  methods: {
    getBgClass(gender: Gender) {
      switch (gender) {
        case Gender.Boy:
          return "blue";
        case Gender.Girl:
          return "red";
        default:
          return "purple";
      }
    }
  },
  computed: {
    filteredNames() {
      if (this.filterOption) {
        return this.saved.filter(name => name.gender === this.filterOption);
      }
      return this.saved;
    }
  }
});
</script>

<style lang="postcss" scoped></style>
