<template>
  <v-card block class="card lighten-1 mt-4" :class="cardBgClass">
    <v-card-title class="white--text display-1">{{ name }}</v-card-title>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Gender } from "@/types";

export default Vue.extend({
  props: {
    name: {
      type: String,
      required: true
    },
    gender: {
      type: Number,
      default: Gender.Neutral
    }
  },
  computed: {
    cardBgClass() {
      switch (this.gender) {
        case Gender.Boy:
          return "blue";
        case Gender.Girl:
          return "red";
        default:
          return "purple";
      }
    }
  }
});
</script>

<style lang="postcss" scoped>
.card {
  height: calc(100vh - 230px);
}
</style>
