<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>baby names</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu left bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-settings</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="setFilter('')">
            <v-list-item-title>All</v-list-item-title>
          </v-list-item>
          <v-list-item @click="setFilter(Gender.Boy)">
            <v-list-item-title>Boy</v-list-item-title>
          </v-list-item>
          <v-list-item @click="setFilter(Gender.Girl)">
            <v-list-item-title>Girl</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { GENDER_KEY } from "@/constants";
import { Gender } from "@/types";
import { mapMutations } from "vuex";

export default Vue.extend({
  name: "App",
  data: () => ({
    Gender
  }),
  methods: {
    ...mapMutations(["setFilter"])
  }
});
</script>
